
@font-face {font-family: "iconfont";
  src: url('iconfont.ttf?t=1522719273107') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before { content: "\e600"; }

.icon-aixinjuanzeng:before { content: "\e615"; }

.icon-xiaoxi:before { content: "\e653"; }

.icon-qunfengzhifuchenggong:before { content: "\e694"; }

.icon-fenlei:before { content: "\e608"; }

.icon-shuangjiantouxiangyou:before { content: "\e69c"; }

.icon-guanyu-copy:before { content: "\e604"; }

.icon-xiaoxi1:before { content: "\e6ea"; }

.icon-07jiantouxiangxia:before { content: "\e614"; }

.icon-xiangxiajiantou:before { content: "\e61f"; }

.icon-xiangshangjiantou:before { content: "\e622"; }

.icon-xiaoxixinfengnews:before { content: "\e829"; }

.icon-xuetang:before { content: "\e612"; }

.icon-jiazu:before { content: "\e619"; }

.icon-yuyuezhongxin:before { content: "\e626"; }

.icon-sousuo5:before { content: "\e611"; }

.icon-fuwuneirong:before { content: "\e627"; }

.icon-shouyexuanzhong01:before { content: "\e61a"; }

.icon-zanwucanyujilu:before { content: "\e766"; }

.icon-icons-:before { content: "\e635"; }

.icon-back:before { content: "\e610"; }

.icon-dangan-shi:before { content: "\e657"; }

.icon-dingdanxiaoxi:before { content: "\e607"; }

.icon-zhifubao:before { content: "\e6b0"; }

.icon-xieyajiance:before { content: "\e63f"; }

.icon-zengzhifuwu:before { content: "\e67c"; }

.icon-weixin:before { content: "\e67e"; }

.icon-shoucang:before { content: "\e67b"; }

.icon-jiahao:before { content: "\e620"; }

.icon-tubiao-:before { content: "\e650"; }

.icon-erweima:before { content: "\e6d2"; }

.icon-timerauto:before { content: "\e617"; }

.icon-pinglun:before { content: "\e64b"; }

.icon-dingdan:before { content: "\e605"; }

.icon-arrow_r1:before { content: "\e601"; }

.icon-shezhi:before { content: "\e639"; }

